body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    color: rgb(65, 180, 61);
    text-align: center;
    font-size: 5em;
}
button{
    width:10%;
    background-color: darkblue;
    color: whitesmoke;
    padding: 2em;
    text-align: center;
}
a, a:visited{
    color: whitesmoke;
    text-decoration: none;
}